<div id="face_recognition_login">
  <div class="face_recognition_login__step1">
    <h3 class="form-item__description">{% trans %}1. Position your face to be seen correctly in the preview{% endtrans %}</h3>
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
  </div>

  <button id="snap" class="button--primary button">{% trans %}Snap a picture{% endtrans %}</button>

  <div class="face_recognition_login__step2 hidden">
    <h3 class="form-item__description">{% trans %}2. Preview your picture and be sure that is clear.{% endtrans %}</h3>
    <canvas id="canvas" class="d-none"></canvas>
    <div class="form-item__description">{% trans %}If the picture is not clear enough repeat the step 1.{% endtrans %}</div>
  </div>

</div>


<audio id="snapSound" src="{{ snap_file_uri }}" preload = "auto"></audio>
